@model IEnumerable<MVCTicketDemoCore.Models.TBLUserInfo>

@{
    ViewData["Title"] = "GetUsersmvc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All the Users </h1>

<h4>@Html.ActionLink("Create New User ", "AddUsermvc", "Users")</h4>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsernameUs)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.PasswordUs)
            </th>*@
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsernameUs)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.PasswordUs)
            </td>*@
            
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
        }
        <div>
            <a asp-action="Index" asp-controller="Home">Back to Home</a>
        </div>
        <div>
            <a asp-action="AdminFunctionality" asp-controller="Home">Back to Admin Functionality Page</a>
        </div>
    </tbody>
</table>

